<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div style="border: 2px solid rgb(0, 0, 0); padding: 15px; margin-bottom: 20px; background-color: rgb(255, 255, 255);">
        <h3>Instructions:</h3>
        <p>Use the buttons in the "Actions" column to manage vehicle entries:</p>
        <ul>
            <li><strong>Register New Vehicle:</strong> Click this button to add a new vehicle entry to the system.</li>
            <li><strong>Update:</strong> Use this button next to each vehicle entry to update its information.</li>
            <li><strong>Delete:</strong> Use this button next to each vehicle entry to remove it from the system.</li>
            <li><strong>Must use a valid PersonID "1 - 12"</strong></li>
        </ul>
    </div>

    <title>Vehicles</title>
</head>
<body>
    <h1>Vehicle Table</h1>
    <form action="{{ url_for('submit_add_vehicle') }}" method="GET" style="margin-bottom: 10px;">
        <button type="submit">Register New Vehicle</button>
    </form>

    <table border="1">
        <thead>
            <tr>
                <th>VehicleID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>VIN Number</th>
                <th>License Plate</th>
                <th>PersonID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle['VehicleID'] }}</td>
                <td>{{ vehicle['Make'] }}</td>
                <td>{{ vehicle['Model'] }}</td>
                <td>{{ vehicle['Year'] }}</td>
                <td>{{ vehicle['VIN_Number'] }}</td>
                <td>{{ vehicle['LicensePlate'] }}</td>
                <td>{{ vehicle['PersonID'] }}</td>
                <td>
                    <form action="{{ url_for('delete_vehicle', vehicle_id=vehicle['VehicleID']) }}" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="{{ url_for('update_vehicle', vehicle_id=vehicle['VehicleID']) }}" method="GET" style="display:inline;">
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
